<form method="post" action="{{ path('academic_request_info_delete', {'id': academic_request_info.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ academic_request_info.id) }}">
    <button class="btn">Delete</button>
</form>
