{% extends 'base.html.twig' %}

{% block title %}New ProjectRequest{% endblock %}

    {% block body %}
        <h1>Create new ProjectRequest</h1>

        {{ include('project_request/_form.html.twig') }}
        

        <a href="{{ path('project_request_index') }}">back to list</a>

<script type="text/javascript">
    $("#project_request_extInstitutionsAuthorization input").change(function(){
        console.log($(this).val());
        if($(this).val() == 1) {
            $("#input_extInstitutionsAuthorization_file").removeClass("d-none");
        }
        if($(this).val() == 0) {
            $("#input_extInstitutionsAuthorization_file").addClass("d-none");
        }
    });

</script>

    {% endblock %}
