{% extends 'base.html.twig' %}

{% block body %}
<div class="input-group mb-3 w-50">
	<input type="text" class="form-control add_getObtenerNumeroDeEmpleado_input" name="project_code" value="" placeholder="Código del proyecto" aria-label="Código del proyecto" aria-describedby="button-addon2">
	<div class="input-group-append">
		<button type="button" class="getObtenerNumeroDeEmpleado btn btn-primary" data-path="/cec/public/solicitud/">Cargar información</button>
	</div>
</div>

{% endblock %}
