{% extends 'base.html.twig' %}

{% block body %}

<div class="page-help">
<div class="d-flex justify-content-center">
<div class="col-sm-8">
    
<h3>Preguntas frecuentes </h3>
<h4>
¿Cuál son mis credenciales institucionales?</h4>
<p>
Vestibulum non bibendum nibh. Donec commodo fermentum mauris, suscipit maximus metus molestie quis. Proin
augue tellus, efficitur sed pellentesque in, porta eget diam. Sed lectus felis, congue a consequat et, auctor nec libero. Vestibulum non bibendum nibh. Donec commodo fermentum mauris, suscipit maximus metus molestie quis. de la Universidad de Costa Rica, ya sean proyectos de investigación o trabajos Proin augue tellus, efficitur sed pellentesque in, porta eget diam. Sed lectus felis, congue a consequat et, auctorfinales de graduación , que requieran: nec libero.</p>
<h4>
¿Soy estudiante, cómo ingreso al sistema?</h4>
<p>Vestibulum non bibendum nibh. Donec commodo fermentum mauris, suscipit maximus metus molestie quis. Proin augue tellus, efficitur sed pellentesque in, porta eget diam. Sed lectus felis, congue a consequat et, auctor nec libero.</p>
<h4>
¿Cómo cambio mi información personal?</h4>
<p>Vestibulum non bibendum nibh. Donec commodo fermentum mauris, suscipit maximus metus molestie quis. Proin augue tellus, efficitur sed pellentesque in, porta eget diam. Sed lectus felis, congue a consequat et, auctor nec libero. Vestibulum non bibendum nibh. Donec commodo fermentum mauris, suscipit maximus metus molestie quis. Proin augue tellus, efficitur sed pellentesque in, porta eget diam. Sed lectus felis, congue a consequat et, auctor nec libero.</p>


</div>
</div>

</div>

{% endblock %}
