{% extends 'base.html.twig' %}

{% block body %}

	<div class="page-help">
		<div class="d-flex justify-content-center">
			<div class="col-sm-8">

				<h3>
					Preguntas frecuentes
				</h3>
                <h4>
					
				</h4>
				<p>
					
				</p>
                <h4>
					¿Cómo puedo confirmar si mi proyecto debe ser evaluado por el Comité Ético Científico?
				</h4>
				<p>
					Deberán presentar una solicitud todas las investigaciones realizadas en el marco de la Universidad de Costa Rica, ya sean proyectos de investigación o trabajos finales de graduación, que requieran:
				</p>
                <ul>
                    <li>la participación de seres humanos: biomédica intervencional u observacional o sociocultural</li>
                    <li>la revisión de información documental de seres humanos.</li>
                </ul>
                <p>
                    <strong>NOTA PARA PERSONAS INVESTIGADORAS:</strong> Recuerde que para llevar a cabo este proceso de solicitud, su propuesta de proyecto debe haber sido aprobada por la Comisión o el Consejo Científico y debidamente asignado en SIPPRES por el director de la unidad correspondiente.
                </p>
                <p>Si tiene dudas sobre si su proyecto debe cumplir con este requisito comuníquese al (506) 2511-4201 o a través del correo electrónico <a href="mailto:cec@ucr.ac.cr">cec@ucr.ac.cr</a>.</p>
                
                <h4>
					¿Cuáles son los requisitos para enviar propuestas de investigación al CEC?
				</h4>
				<p>
					Descargar <a href="http://formularioscec.ucr.ac.cr/Requisitos_para_presentar_propuestas_de_investigacion_al_CEC.pdf" target="_blank">aquí</a>.
				</p>
				<h4>
					¿Cuál son mis credenciales institucionales?
				</h4>
				<p>
					Las credenciales institucionales corresponden al correo con dominio @ucr.ac.cr que le ha sido asignado, con su respectiva contraseña. En el campo usuario, coloque su usuario de correo, sin el @ucr.ac.cr
				</p>
				<h4>
					Soy estudiante, ¿cómo ingreso al sistema?
				</h4>
				<p>
					Utilizando el correo con dominio @ucr.ac.cr que le ha sido asignado, con su respectiva contraseña. En el campo usuario, coloque su usuario de correo, sin el @ucr.ac.cr
				</p>
				<h4>
					¿Cómo cambio mi información personal?
				</h4>
				<p>
					La información personal es obtenida directamente de las bases de datos institucionales, por lo que no es posible editarla dentro del sistema de evaluación ética-científica.
				</p>
                <h4>
					¿Puedo completar el formulario de solicitud sin internet?
				</h4>
				<p>
					El sistema de solicitud es una plataforma web, por lo que depende de una conexión de internet estable.
				</p>
                <h4>
					¿Qué sucede si se interrumpe la conexión de internet mientras estoy completando el formulario?
				</h4>
				<p>
					Si la conexión a internet se interrumpe el sistema no será capaz de almacenar los últimos datos ingresados, por lo que se recomienda guardar con regularidad, utilizando el botón correspondiente al final de cada paso del formulario.
				</p>
                <h4>
					¿Puedo terminar de llenar el formulario después?
				</h4>
				<p>
					Sí, el sistema de evaluación permite el guardado temporal de las solicitudes. Puede guardarlas, salir del sistema y posteriormente ingresar nuevamente a continuar con el proceso.
				</p>
                <h4>
					¿Cuál es el código de mi proyecto?
				</h4>
				<p>
					Si es investigador  posee una propuesta de proyecto en proceso, use el código de propuesta asignada en SIPPRES con el formato completo, por ejemplo XXXX-XXXX.
				</p>
                <h4>
					El sistema no me permite ingresar
				</h4>
					<ul>
                        <li>Corrobore que esté incluyendo sus credenciales institucionales correctamente. Recuerde en el campo usuario, colocar su usuario de correo, sin el @ucr.ac.cr</li>
                        <li>Corrobore que posee una conexión a internet activa.</li>
                    </ul>
				<p>Si el problema persiste, obtenga una captura de pantalla del error y comuníquese al (506) 2511-4201 o a través del correo electrónico <a href="mailto:cec@ucr.ac.cr">cec@ucr.ac.cr</a>.</p>
                <h4>
					¿Cuánto tiempo puede tomar el proceso de revisión de la solicitud por parte del Comité Ético Científico?
				</h4>
				<p>
					El proceso de revisión y evaluación puede tardar entre 15 a 30 días hábiles, dependiendo de la cantidad de solicitudes en proceso en el momento de su envío. 
				</p>
                <h4>
					¿Debo presentar la documentación también por escrito al Comité Ético Científico?
				</h4>
				<p>
					Todo el proceso de solicitud y evaluación se realiza de forma virtual y en esta misma plataforma podrá dar seguimiento al proceso de evaluación de su solicitud. <em> No es necesario que presente la documentación de forma física o impresa.</em>
				</p>
                <h4>
					¿Cómo puedo dar seguimiento a mi proceso de solicitud una vez que es enviada a evaluación?
				</h4>
				<p>
					Una vez remitida su solicitud, el sistema le enviará un correo de confirmación y será notificado cuando la solicitud sea evaluada.
				</p>
                <p>
                    También puede dar seguimiento al estado de solicitudes activas, ingresando al sistema y verificando en la pantalla de Seguimiento de solicitudes.
                </p>
                <h4>
					Recibí un correo indicando que debo corregir mi solicitud ¿Cómo puedo realizar el subsane solicitado?
				</h4>
				<p>
					Ingrese al sistema utilizando sus credenciales institucionales. En la pantalla de Seguimiento de solicitudes, ubique la solicitud devuelta, oprima el botón Completar y subsane los pendientes indicados. Al terminar, vuelva a enviar la solicitud desde el paso 3 del formulario.
				</p>
                <h4>
					¿Qué significa Pendiente de Revisión?
				</h4>
				<p>
					Son aquellos proyectos e investigaciones, que adolecen de algún requisito o requisitos, que se consideren esenciales de acuerdo a la normativa aplicable. Hasta que no se presente ese asunto o requisito pendiente, no pueden ser revisados. (P.e. no se presenta consentimiento informado o el acta de aprobación de la comisión respectiva).
				</p>
                <h4>
					Necesito apoyo para completar mi solicitud ¿Con quién puedo comunicarme para aclarar dudas?
				</h4>
				<p>
					Si requiere apoyo técnico o posee consultas sobre el proceso, comuníquese al (506) 2511-4201 o a través del correo electrónico <a href="mailto:cec@ucr.ac.cr">cec@ucr.ac.cr</a>.
				</p>


			</div>
		</div>

	</div>

{% endblock %}
