{% extends 'base.html.twig' %}

{% block body %}
  <div class="container-box-login">
    <div class="container">
      {% if ERROR == 'INVALID_CREDENTIALS' %}
        <div class="row">
          <div class="alert alert-danger text-center">
            <strong>Error, wrong credentials.</strong>
          </div>
        </div>
      {% endif %}
      <div class="row">
        <div class="col-8">
          <p>Deberán presentar una solicitud todas las investigaciones realizadas en el marco de la Universidad de Costa Rica, ya sean proyectos de investigación o trabajos finales de graduación, que requieran:</p>
          <ul>
            <li>la participación de seres humanos: biomédica intervencional u finales de graduación, que requieran: observacional, sociocultural,</li>
            <li>la revisión de información documental de seres humanos.</li>
          </ul>
          <p>Las solicitudes son evaluadas por el Comité Ético Científico de la Universidad de Costa Rica.</p>
          <p>Todo el proceso de solicitud y evaluación se realiza de forma virtual y en esta misma.</p>
          <p class="small font-italic">Si tiene consultas, comuníquese al (506) 2511-4201 o a través del correo electrónico <a href="mailto:cec.vi@ucr.ac.cr">cec.vi@ucr.ac.cr</a></p>
        </div>
        <div class="col-4 login-box-body">
          <p>INGRESE AL SISTEMA CON SUS CREDENCIALES INSTITUCIONALES</p>
          <form class="form-signin" action="?checkLogin" method="post">
            <div class="form-group has-feedback">
              <input name="email" type="text" class="form-control" placeholder="CORREO INSTITUCIONAL" value="{{ USER_EMAIL }}" autofocus />
              <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
              <input type="password" class="form-control" placeholder="CLAVE" name="password" value="{{ PASSWORD }}" />
              <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>
            <button type="submit" class="btn btn-primary btn-block btn-flat">{{'Ingresar'|upper}}</button>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}