
.table
{
	width: 100%;
}
.table thead th
{
	line-height: 1em;
}
table thead
{
	background-color: #41ADE7;
	color: #FFFFFF;
}

table thead th
{
	border-bottom: none;
}

table tbody tr:nth-of-type(odd)
{
	background-color: #F0F5FB;
}

table tbody tr:nth-of-type(even)
{
	background-color: #CFE0F3;
}
table td,
table th
{
	align-items: center;
	border-right: 2px solid #FFFFFF;
}
.login-box-body-admin
{
	margin: 0 auto !important;
}
a.ingreso-admin-home
{
	color: #666666;
	font-size: 0.9em;
	margin-top: 10px;
}
a.ingreso-admin-home:after
{
	content: '\f0a9';
	font-family: FontAwesome;
	color: #73C167;
	margin: 5px;
}
.ingreso-general-box-text-admin h3
{
	text-align: center;
	font-weight: bold;
	color: #666666;
}
.textareas-form
{
	background-color: #F0F5FB;
	padding: 15px;
	border: 1px solid #cecece;
}

#feedback_modal .modal-dialog
{
	min-height: calc(100vh - 60px);
	display: flex;
	flex-direction: column;
	justify-content: center;
	overflow: auto;
}
.text-box
{
	margin-bottom: 20px;
}
.text-box p
{
	margin-bottom: 5px;
}
.step-view .nav_step
{
	border-radius: 50%;
	color: #005DAA;
	border: #41ADE7 2px solid;
	width: 50px;
	height: 50px;
	display: block;
	text-align: center;
	line-height: 50px;
	font-size: 2rem;
	font-weight: 700;
	margin: auto;
}
.step-view a.form_header_nav_item_link
{
	text-align: center;
	text-transform: uppercase;
	font-size: 1.3em;
	color: #005DAA;
	margin-top: 15px;
	display: block;
	text-decoration: none;
	cursor: unset;
	font-weight: bold;
}
ul
{
	list-style: none;
}
.title-table-index{
	font-weight: bold;
}
