:root
{
	--A1: #4AA9CE;
	--A2: #5194DC;
	--A3: #41ADE7;
	--A4: #005DAA;
	--A5: #3A6C99;
	--A6: #50C8E8;
	--A7: #80A1B6;
	--A8: #CFE0F3;
	--A9: #F0F5FB;
	--G1: #262626;
	--G2: #666666;
	--G3: #6D7172;
	--R1: #CF1919;
	--R2: #A01036;
	--N1: #E7A614;
	--light-green: #D4EDDA;
	--green: #73C167;
	--white: #FFFFFF;
}

.table
{
	width: 100%;
}
.table thead th
{
	line-height: 1em;
}
table thead
{
	background-color: var(--A3);
	color: var(--white);
}

table thead th
{
	border-bottom: none;
}

table tbody tr:nth-of-type(odd)
{
	background-color: var(--A9);
}

table tbody tr:nth-of-type(even)
{
	background-color: var(--A8);
}
table td,
table th
{
	align-items: center;
	border-right: 2px solid var(--white);
}
.login-box-body-admin
{
	margin: 0 auto !important;
}
a.ingreso-admin-home
{
	color: var(--G2);
	font-size: 0.9em;
	margin-top: 10px;
}
a.ingreso-admin-home:after
{
	content: '\f0a9';
	font-family: FontAwesome;
	color: var(--green);
	margin: 5px;
}
.ingreso-general-box-text-admin h3
{
	text-align: center;
	font-weight: bold;
	color: var(--G2);
}
.textareas-form
{
	background-color: var(--A9);
	padding: 15px;
	border: 1px solid #cecece;
}

#feedback_modal .modal-dialog
{
	min-height: calc(100vh - 60px);
	display: flex;
	flex-direction: column;
	justify-content: center;
	overflow: auto;
}
.text-box
{
	margin-bottom: 20px;
}
.text-box p
{
	margin-bottom: 5px;
}
.step-view .nav_step
{
	border-radius: 50%;
	color: var(--A4);
	border: var(--A3) 2px solid;
	width: 50px;
	height: 50px;
	display: block;
	text-align: center;
	line-height: 50px;
	font-size: 2rem;
	font-weight: 700;
	margin: auto;
}
.step-view a.form_header_nav_item_link
{
	text-align: center;
	text-transform: uppercase;
	font-size: 1.3em;
	color: var(--A4);
	margin-top: 15px;
	display: block;
	text-decoration: none;
	cursor: unset;
	font-weight: bold;
}
ul
{
	list-style: none;
}
.title-table-index{
	font-weight: bold;
}
</style>