{% extends 'base.html.twig' %}

{# {% block title %}New UsersRoles{% endblock %} #}

{% block body %}
    <h1>Create new UsersRoles</h1>

    {{ include('users_roles/_form.html.twig') }}

    <a href="{{ path('users_roles_index') }}">back to list</a>
{% endblock %}
