{% extends 'base.html.twig' %}

{% block title %}Edit LdapUser{% endblock %}

{% block body %}
    <h1>Edit LdapUser</h1>

    {{ include('ldap_user/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('ldap_user_index') }}">back to list</a>

    {{ include('ldap_user/_delete_form.html.twig') }}
{% endblock %}
