body{
  font-family: Arial;
  font-size: 0.8rem;
}

body .main-container{
  background-color: var(--white);
  padding-bottom: 25px;
}
thead tr {
  background-color: var(--A3);
  color: var(--white);
}
tbody tr:nth-of-type(odd) {
  background-color: rgba(81, 148, 220, 0.15);
}
tbody tr:nth-of-type(even) {
  background-color: rgba(81, 148, 220, 0.35);
}
.btn-primary {
  color: #fff;
  background-color: var(--green);
  border-color: var(--green);
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
  color: #fff;
  background-color: var(--green);
  border-color: var(--green);
}
.title-table-index {
  color: var(--G2);
  font-size: 1.4em;
  font-weight: bold;
}
a.btn-blue {
  background-color: var(--A4);
  border-radius: 5px;
  color: white;
  padding: 5px 10px;
  margin: 0 20px;
}
.inline-custom-radio .custom-radio{
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-right: 1rem;
}

input, textarea, select{
  border-radius: 0 !important;
}

.header{
  background-color: var(--A3);
  padding: 1% 0;
}
.header-title {
  padding: 0% 0 2% 0;
}
.header-title h2 {
  color: var(--A4);
  margin: 0;
  padding: 10px 0 0 0;
  font-weight: bold;
}
.header-title p{
  color: var(--A6);
}
.header-title .menu-user-box p{
  font-weight: bold;
}
footer{
  padding: 2% 0;
  background-color: var(--G2);
  color: var(--white);
  font-size: 0.8em;
}
footer a{
  color: var(--white);
}
footer a:hover{
  color: var(--white);
}
footer p{
  margin:0;
}
.infooter-box{
  padding: 5px 0px 5px 15px;
  border-left: 1px solid var(--N1);
}
.copy{
  padding-top: 15px;
}
.label{
  color: var(--A4);
}
.box-info-home p{
  color: var(--G2);
  margin: 5px 0;
}
.box-info-home {
  background-color: var(--A9);
  border-top: 1px solid var(--A8);
  border-bottom: 1px solid var(--A8);
  padding: 1% 0;
}
.btn-menu-user {
  background-color: transparent;
  border: none;
  text-transform: capitalize;
  position: relative;
  padding: 0 15px 0px 0;
  color: var(--G2);
}
.table thead th {
  line-height: 1em;
}
.btn-menu-user:before{
  content: '\f007';
  font-family: FontAwesome;
}
p.tel:before{
  content: '\f095';
  font-family: FontAwesome;
  margin-right: 5px;
}
p.email:before{
  content: '\f0e0';
  font-family: FontAwesome;
  margin-right: 5px;
}
.btn-menu-user:after {
  content: '\f078';
  font-family: FontAwesome;
  border: none;
  /* padding-top: 15px; */
  position: absolute;
  display: inline-block;
  right: 0;
  top: 0px;
  font-size: 0.6em;
}
.menu-user {
  border-left: 1px solid var(--A8);
  padding-left: 10px;

}
.menu-user .btn-menu-user {
  line-height: 63px;
}
.menu-user .dropdown-menu a{
  color: var(--G2);
}
.menu-user .dropdown-menu a:nth-child(1){

}
.menu-user .dropdown-menu a:nth-child(2){

}
.menu-user .dropdown-menu a:nth-child(3){

}
.menu-user .dropdown-menu a:before {
  font-family: FontAwesome;
  margin-right: 5px;
}
.menu-user .dropdown-menu a:nth-child(1):before{
  content: '\f15c';
}
.menu-user .dropdown-menu a:nth-child(2):before{
  content: '\f059';
}
.copy {
  padding-top: 15px;
}

.label{
  color: var(--A4);
}
.box-info-home p{
  color: var(--G2);
  margin: 5px 0;
}
.box-info-home {
  background-color: var(--A9);
  border-top: 1px solid var(--A8);
  border-bottom: 1px solid var(--A8);
  padding: 1% 0;
}
.btn-menu-user {
  background-color: transparent;
  border: none;
  text-transform: capitalize;
  position: relative;
  padding: 0 15px 0px 0;
  color: var(--G2);
}
.btn-menu-user:before{
  content: '\f007';
  font-family: FontAwesome;
}
.btn-menu-user:after {
  content: '\f078';
  font-family: FontAwesome;
  border: none;
  /* padding-top: 15px; */
  position: absolute;
  display: inline-block;
  right: 0;
  top: 0px;
  font-size: 0.6em;
}
.menu-user {
  border-left: 1px solid var(--A8);
  padding-left: 10px;

}
.menu-user .btn-menu-user {
  line-height: 80px;
}
.menu-user .dropdown-menu a{
  color: var(--G2);
  font-size: 0.9em;
  padding: 3px 10px;
}
.menu-user .dropdown-menu a:nth-child(1){

}
.menu-user .dropdown-menu a:nth-child(2){

}
.menu-user .dropdown-menu a:nth-child(3){

}
.menu-user .dropdown-menu a:before {
  font-family: FontAwesome;
  margin-right: 5px;
}
.menu-user .dropdown-menu a.seguimiento-m:before{
  content: '\f15c';
}
.menu-user .dropdown-menu a.admin-m:before{
  content: '\f0c0';
}
.menu-user .dropdown-menu a.ayuda-m:before{
  content: '\f059';
}
.menu-user .dropdown-menu a.cerrar-m:before{
  content: '\f08b';
}
.menu-user .dropdown-men.show {
  transform: translate3d(-100px, 81px, 0px) !important;
}

.login-box-body form{
  padding: 0;
}
.login-box-body p{
  text-align: center;
  font-weight: bold;
  color: var(--G2);
}
.login-box-body .btn{
  width: initial;
  margin: auto;

}
.login-box-body {
  padding: 3%;
  border: 1px solid var(--A2);
  border-radius: 5px;
  box-shadow: 0px 5px 6px 5px rgba(0, 0, 0, 0.19);
  background: #fff;
}
.container-box-login {
  background-color: var(--A9);
  padding: 2% 0;
  border-top: 1px solid var(--A8);
  border-bottom: 1px solid var(--A8);
}
.container-box-login ul {
  list-style: none;
}

.container-box-login ul li::before {
  content: '\2022';
  color: var(--N1);
  font-weight: bold;
  display: inline-block; 
  width: 1em;
  margin-left: -1em;
}
ul.form_header_nav li::before {
  content: '';
}
.text-duda-login {
  color: var(--G2);
}

.login-box-body .form-control {
  border: 1px solid var(--A2);
}
#new_project{
  text-align: center;
}
#new_project ul.nav a {
  color: var(--A4);
  font-weight: bold;
  text-decoration: none;
  cursor: unset;
}
span.file-advice {
  color: var(--R1);
  font-style: italic;
  margin-bottom: 10px;
}
#new_project .modal-content{
  padding: 2% 0;
}
#new_project ul.nav .nav_step {
  border-radius: 50%;
  color: var(--A4);
  border: var(--A3) 2px solid;
  width: 35px;
  height: 35px;
  display: block;
  text-align: center;
  line-height: 33px;
  font-size: 1.4rem;
  font-weight: 700;
  margin-right: 3px;
}
#new_project ul.nav .form_header_nav_item {
  margin: 0px 5px;
  background-color: rgba(81, 148, 220, 0.15);
  padding: 5px;
}
#new_project h4,h4{
  color: var(--G2);
  text-transform: uppercase;
}
.btn-close-modalnew{
  text-transform: uppercase;
  font-size: 0.8em;
}
.text-color-green{
  color: var(--green);
}
.btn-open-modalnew{
  font-size: 0.8em;
}
.btn-open-modalnew:before{
  content: '\f067';
  font-family: FontAwesome;
  font-weight: lighter;
}


table thead{
  background-color: var(--A3);
  color: var(--white);
}

table thead th{
  border-bottom: none;
}

table tbody tr:nth-of-type(odd) {
  background-color: var(--A9);
}

table tbody tr:nth-of-type(even) {
  background-color: var(--A8);
}
table td, table th{
  align-items: center;
  border-right: 2px solid var(--white);
}
.login-box-body-admin {
  margin: 0 auto !important;
}
a.ingreso-admin-home {
  color: var(--G2);
  font-size: 0.9em;
  margin-top: 10px;
}
a.ingreso-admin-home:after {
  content: '\f0a9';
  font-family: FontAwesome;
  color: var(--green);
  margin: 5px;
}
.ingreso-general-box-text-admin h3{
  text-align: center;
  font-weight: bold;
  color: var(--G2);
}
.textareas-form {
  background-color: var(--A9);
  padding: 15px;
  border: 1px solid #cecece;
}

#feedback_modal .modal-dialog {
    min-height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: auto;
}

@media (min-width: 576px) { 
} /*fin*/

@media(max-width: 768px) {
  .modal-dialog {
    min-height: calc(100vh - 20px);
  }
  
  .box-r {
    border-left: 1px solid var(--A8);
  }
  .login-box-body {
    margin-top: -70px;
  }
} /*fin*/

@media (min-width: 992px) {
} /*fin*/

@media (min-width: 1200px) {
} /*fin*/

