<div class="form_header d-flex justify-content-start">
    <ul class="nav form_header_nav nav-pills">
        <li class="d-flex align-items-center form_header_nav_item form_header_nav_item--active">
            <span class="nav_step">1</span>
            <a class="form_header_nav_item_link" href="#">Información del proyecto</a>
        </li>
        <li class="d-flex align-items-center form_header_nav_item">
            <span class="nav_step">2</span>
            <a class="form_header_nav_item_link" href="#">Descripción académica y científica</a>
        </li>
        <li class="d-flex align-items-center form_header_nav_item">
            <span class="nav_step">3</span>
            <a class="form_header_nav_item_link" href="#">Evaluación ética</a>
        </li>
    </ul>
</div> 



