<div class="form_header d-flex justify-content-start">
  <ul class="nav form_header_nav nav-pills">
    <li class="d-flex align-items-center form_header_nav_item {% if current_nav_item == 'info' %} form_header_nav_item--active {% endif %}" data-target="info">
      <span class="nav_step">1</span>
      <a class="form_header_nav_item_link" href="#">Información del proyecto</a>
    </li>
    <li class="d-flex align-items-center form_header_nav_item {% if current_nav_item == 'academic' %} form_header_nav_item--active {% endif %}" data-target="academic">
      <span class="nav_step">2</span>
      <a class="form_header_nav_item_link" href="#">Descripción académica y científica</a>
    </li>
    <li class="d-flex align-items-center form_header_nav_item {% if current_nav_item == 'ethic' %} form_header_nav_item--active {% endif %}" data-target="ethic">
      <span class="nav_step">3</span>
      <a class="form_header_nav_item_link" href="#">Evaluación ética</a>
    </li>
  </ul>
</div>
<div class="alert alert-danger d-none mb-0 mt-1" role="alert" id="size-files-error" >
  Los archivos seleccionados suban más de 40MB.
</div>
<div class="alert alert-danger d-none mb-0 mt-1" role="alert" id="extension-files-error">
  Uno o más archivos poseen un extension inválida.
</div>


