<div class="form_footer d-flex justify-content-center">
    <button class="btn btn-primary form_footer_button" data-target="home" data-finish="0">{{ button_label_save|default('Guardar') }}</button>
    <button class="btn btn-primary form_footer_button" data-target="next" data-finish="{{ finish|default(0) }}">{{ button_label|default('Guardar y enviar') }}</button>
</div> 

