<!-- Modal -->
<div class="modal fade" id="project_request_extInstitutionsAuthorization_modal_open" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close btn-close-modalnew" data-dismiss="modal" aria-label="Close">
                X
              </button>
            </div>
            <div class="modal-body">
                <div class="col">
                    <p>Debe emitirse una carta indicando que la institución autoriza la realización de la investigación y debe ser firmada por la persona competente para decidir ese tipo de asuntos en la institución.</p>
                </div>
            </div>

            <button type="button" class="btn btn-close-modalnew" data-dismiss="modal">Cerrar</button>
        </div>
    </div>
</div>
<!-- Modal 1.9 -->
<div class="modal fade" id="project_request_involvesHumans_modal_open" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close btn-close-modalnew" data-dismiss="modal" aria-label="Close">
                X
              </button>
            </div>
            <div class="modal-body">
                <div class="col">
                    <p>Cuando se habla de involucramiento de seres humanos, nos referimos a metodologías cualitativas o cuantitativas, intervencionales u otras en las que se tenga participación de personas a título individual o de colectivos sociales definidos (p.e. adultos mayores, niños, jóvenes, mujeres etc.)</p>
                </div>
            </div>

            <button type="button" class="btn btn-close-modalnew" data-dismiss="modal">Cerrar</button>
        </div>
    </div>
</div>
<!-- Modal 1.10 -->
<div class="modal fade" id="project_request_docHumanInformation_modal_open" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close btn-close-modalnew" data-dismiss="modal" aria-label="Close">
                X
              </button>
            </div>
            <div class="modal-body">
                <div class="col">
                    <p>Se refiere a documentos públicos o privados que contengan información de personas.   En este punto favor ver con especial cuidado con la Ley 8968 (“Ley de Protección de la Persona frente al tratamiento de sus datos personales”) y en especial con lo que se considera como información sensible o manejo de datos documentales que no pueden ser vistos ni divulgados sin el consentimiento del titular (Véase artículos 9, párrafo primero).   De igual manera los párrafos dos, tres y cuatro del artículo 9 de la citada ley, establecen otras categorías de datos.</p>
                </div>
            </div>

            <button type="button" class="btn btn-close-modalnew" data-dismiss="modal">Cerrar</button>
        </div>
    </div>
</div>
<!-- Modal 2.4 -->
<div class="modal fade" id="academic_request_info_hypothesis_modal_open" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close btn-close-modalnew" data-dismiss="modal" aria-label="Close">
                X
              </button>
            </div>
            <div class="modal-body">
                <div class="col">
                    <p>Básicamente en este apartado se refiere a investigaciones biomédicas ya sea observacionales o intervencionales según corresponda.  O sino se refiere a aquellas investigaciones socioculturales en su dimensión amplia, a través de un proceso que, utilizando el método científico, permite obtener nuevos conocimientos en el campo de la realidad social (investigación pura) o que permite estudiar una situación social para diagnosticar necesidades y problemas a los efectos de aplicar los conocimientos con finalidades prácticas (investigación aplicada).</p>
                </div>
            </div>

            <button type="button" class="btn btn-close-modalnew" data-dismiss="modal">Cerrar</button>
        </div>
    </div>
</div>
<!-- Modal 3.1 -->
<div class="modal fade" id="ethic_eval_request_population_modal_open" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close btn-close-modalnew" data-dismiss="modal" aria-label="Close">
                X
              </button>
            </div>
            <div class="modal-body">
                <div class="col">
                    <p>En este acápite se debe entender como “población vulnerable” a aquellas personas o grupos poblacionales que por su naturaleza o determinadas circunstancias, se encuentran en mayor medida expuestos a sufrir maltratos contra sus derechos fundamentales; o requieren un esfuerzo adicional para incorporarse al desarrollo, a la exclusión, la pobreza y los efectos de la inequidad y la violencia de todo orden.  Esta no es una lista taxativa y es susceptible a ser ampliada según las circunstancias, pero básicamente en el campo de la bioética se ha hablado de colectivos tales como: pacientes terminales o con una enfermedad diagnosticada grave; grupos etarios vulnerables como niños, jóvenes, mujeres, adultos mayores; grupos étnicos raciales como indígenas y pueblos originarios o simplemente aquellas personas o colectivos que estén siendo vulneralizados por su relación de jerarquía o dependencia</p>
                </div>
            </div>

            <button type="button" class="btn btn-close-modalnew" data-dismiss="modal">Cerrar</button>
        </div>
    </div>
</div>
<!-- Modal 3.3 -->
<div class="modal fade" id="ethic_eval_request_inExCriteria_modal_open" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close btn-close-modalnew" data-dismiss="modal" aria-label="Close">
                X
              </button>
            </div>
            <div class="modal-body">
                <div class="col">
                    <p>En este acápite se debe entender como “población vulnerable” a aquellas personas o grupos poblacionales que por su naturaleza o determinadas circunstancias, se encuentran en mayor medida expuestos a sufrir maltratos contra sus derechos fundamentales; o requieren un esfuerzo adicional para incorporarse al desarrollo, a la exclusión, la pobreza y los efectos de la inequidad y la violencia de todo orden.  Esta no es una lista taxativa y es susceptible a ser ampliada según las circunstancias, pero básicamente en el campo de la bioética se ha hablado de colectivos tales como: pacientes terminales o con una enfermedad diagnosticada grave; grupos etarios vulnerables como niños, jóvenes, mujeres, adultos mayores; grupos étnicos raciales como indígenas y pueblos originarios o simplemente aquellas personas o colectivos que estén siendo vulneralizados por su relación de jerarquía o dependencia</p>
                </div>
            </div>

            <button type="button" class="btn btn-close-modalnew" data-dismiss="modal">Cerrar</button>
        </div>
    </div>
</div>
<!-- Modal 3.6 -->
<div class="modal fade" id="ethic_eval_request_dataType_modal_open" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close btn-close-modalnew" data-dismiss="modal" aria-label="Close">
                X
              </button>
            </div>
            <div class="modal-body">
                <div class="col">
                    <p>Véase al respecto el artículos 9, párrafo primero a cuarto de la Ley N° 8668 y la respectiva clasificación de datos que se realiza.</p>
                </div>
            </div>

            <button type="button" class="btn btn-close-modalnew" data-dismiss="modal">Cerrar</button>
        </div>
    </div>
</div>
<!-- Modal 3.13 -->
<div class="modal fade" id="ethic_eval_request_informedAssent_modal_open" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close btn-close-modalnew" data-dismiss="modal" aria-label="Close">
                X
              </button>
            </div>
            <div class="modal-body">
                <div class="col">
                    <p>El Asentimiento Informado (AI) procede cuando la persona a investigar es mayor de doce años pero menos a 18 años.   Debe firmar la fórmula de AI tanto el menor como sus padres para que tenga validez.  Si el menor no la llena o no desea hacerlo, entonces no se puede llevar a cabo el protocolo.</p>
                </div>
            </div>

            <button type="button" class="btn btn-close-modalnew" data-dismiss="modal">Cerrar</button>
        </div>
    </div>
</div>
